<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Maker</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
     href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"
/>

<link rel="stylesheet" type="text/css"
    href="/static/css/busy.css"
/>

<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Ideally the rest of our javascript dependencies would be
     bundled and minified with 'browserify', but I've found that
     it difficult to handle browserify dependencies for class
     projects.  So, we'll pick up moment and a date range picker
     from CDNs instead.
-->

<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

</head>

<body>
<div class="container">

<h1>MeetMe</h1>
  <p>From this page you are able to see the mutal free times of yourself 
  and those pople that have responded to your invite.</p>
<div id="free_times"></div>	
<br>


<h3>Meeting Duration</h3>
  Hours: <input type="number" min="0" max="10" value="0"><br>
  Minutes: <input type="number" min="0" max="60" value="0"><br><br/>

  <h3>Start Time</h3>
  <input type="time" name="startTime" value="00:00:00">

<form action="/getfree" method="post">
<br><input type="submit" value="Ready">
<form/>

<div id="target"></div>	
  <script>
  $("#submit").click(function(event){
    //console.log("you clicked submit")
    var checkBoxes = $(".checkbox");
    //console.log("list of checked boxes: " + checkBoxes)
    var checkedList = "";
    for(var i = 0; i< checkBoxes.length; i++){
      if(checkBoxes[i].checked){
          checkedList= checkedList + checkBoxes[i].value + " ";
        }
    }
    //console.log("Through loop. Doing AJAX")
    $.getJSON("/get_times", { checkedList: checkedList }, function(e) {
      //clear div before appending
      $("#target").html("")
      e.result.key.forEach(function(day){
        $("#target").append("<b>Schedule for the day " + day[0].start.substring(5,10) +"</b><br>" );
        day.forEach(function(block){
          var fbString = ("<b>Block is: </b>"+block.summary+"<b> Start: </b>"+ block.start.substring(11, 16)+"<b> End: </b>"+block.end.substring(11,16)+"<br>");
          $("#target").append(fbString);
        });
      $("#target").append("<br>")
      });
    });
  });
   
    $(".header").click(function(event){
    var str = ".row_" + this.id
    $(str).toggle();
  });

  function init(){
  console.log("this function will load free times.")
  }

  window.onload = init;
  </script>


  </div>  <!-- container (for bootstrap) -->
  </body> </html>

